.topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Pacifico;
    letter-spacing: 1.2px;
    font-size: 36px;
    color: white;
    font-weight: normal;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
  }